* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  background-image: radial-gradient(circle at center, getColour(grey),  getColour(beige));
  margin: 0;
  font-family: $font-primary;
}

.wrapper {
  flex: 1 0 auto;
}

.container {
  max-width: 90%;
  margin: 0 auto;
}

.container-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}